* {
  box-sizing: border-box;
}

body {
  align-items: center;
  text-align: center;
  height: 100vh;
}

.playerCards {
  color: white;
}

.dealerCards {
  color: white;
}

main {
  border: 2px solid black;
  background-image: url("https://www.clowerweb.com/cors/blackjack/table.png");
  background-repeat: no-repeat;
}
section {
  color: white;
}

h1 {
  color: gold;
}
